<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />-->
    <uses-permission
            android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" /> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
            android:name="android.permission.WRITE_INTERNAL_STORAGE"
            tools:ignore="SystemPermissionTypo" />

    <application
            android:name="com.sensoguard.trailmanager.LSPatrolApp"
            android:allowBackup="true"
            android:fullBackupContent="@xml/my_backup"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >
        <activity android:name="com.sensoguard.trailmanager.activities.TestScanEmail">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!--launcher-->
        <activity
                android:name="com.sensoguard.trailmanager.activities.InitAppActivity"
                android:screenOrientation="portrait"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sensoguard.trailmanager.activities.ActivationActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.sensoguard.trailmanager.activities.MainActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.sensoguard.trailmanager.activities.MyScreensActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" /> <!-- prevent hiding the field by softkey -->


        <uses-library
                android:name="string"
                android:required="false" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC7lrolhXNPEeiNJuBccG6LgOwGRrBRQos" /> <!-- TODO restrict the api key -->
        <service
                android:name="com.sensoguard.trailmanager.services.ServiceConnectSensor1"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name="com.sensoguard.trailmanager.services.ServiceConnectSensor"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name="com.sensoguard.trailmanager.services.ServiceFindLocation"
                android:exported="true" />
        <service
                android:name="com.sensoguard.trailmanager.services.ServiceHandleAlarms"
                android:exported="true" />
        <service
                android:name="com.sensoguard.trailmanager.services.ServiceRepeat"
                android:enabled="true"
                android:exported="true"
                android:stopWithTask="false" />
        <service android:name="com.sensoguard.trailmanager.services.ServiceEmailValidation1" />
        <service android:name="com.sensoguard.trailmanager.services.ServiceEmailValidation" />
        <service
                android:name="com.sensoguard.trailmanager.services.JobServiceRepeat"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--        <receiver android:name=".classes.BootCompleteReceiver">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="a2ca8d68e6eb68bf1b812b6e6f088bb62a139961" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.contentprovider"
                android:exported="false"
                android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>